- @meta_title = "Willkommen - Hundetraining Teamarbeit"
- @meta_description = "Hundetraining Teamarbeit ist die Zusammenarbeit zwischen Esther Follmann, Hundeschule CaneAmi und Mirjam Bäuerlein (geb. Aulbach), Hundeschule Cave Cani. Wir sind beide geprüfte CumCane Trainerinnen, geprüfte Mitglieder im IBH e.V. und vom IBH e.V. anerkannte Referenten."

%article
  %h2.h1 Willkommen

  .leftcol.floatleft
    %header
      %h1.h2
        Hundetraining ist für uns in mehr als einer Hinsicht Teamarbeit!
    %p
      Hundetraining Teamarbeit ist die Zusammenarbeit zwischen Esther Follmann, 
      %a{ :title => "Hundeschule CaneAmi", :href => "http://caneami.de" }
        Hundeschule CaneAmi
      und Mirjam Bäuerlein (geb. Aulbach),
      %a{ :title => "Hundeschule Hundetraining CaveCani", :href => "http://cavecani.de" }
        Hundeschule Cave Cani.

    %figure.logos
      %img{ :src => url("/images/cumcane_logo.png"), :alt => "Hundeschule & Praxis für Tierverhaltenstherapie CumCane"}
      %img{ :src => url("/images/logo-ibh.gif"), :alt => "Internationaler Berufsverband der Hundetrainer/innen e.V."}

    %p 
      Wir beide sind geprüfte 
      %a{ :title => "Hundeschule & Praxis für Tierverhaltenstherapie CumCane", :href => "http://cumcane.de"}
        CumCane&reg; 
      Trainerinnern. 
      Zudem sind wir beide geprüftes Mitglied im 
      %a{ :title => "Internationaler Berufsverband der Hundetrainer/innen e.V.", :href => "http://ibh-hundeschulen.de"}
        IBH - Internationaler Berufsverband der Hundetrainer/innen e.V.


    %section#startgallery
      %p.gradient_transverti
        %span.h2.minih2
          Das
        %span.h1
          Team
        %span.h2.minih2
          bei der
        %span.h1
          Arbeit
        %br
        %br
        Esther & Mirjam bei der Arbeit und ein wenig privat. 
        %br
        Ein Klick auf die Bilder öffnet die Orignalgrösse.

      %ul{:data => { 'collection' => 'photos' }}
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart01.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY"}
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart01thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart02.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart02thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart03.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart03thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart04.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart04thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart05.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart05thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart06.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart06thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart07.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart07thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart08.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart08thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart09.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart09thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart10.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart10thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart11.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart11thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart12.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart12thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart13.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart13thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart14.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart14thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart15.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart15thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart16.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart16thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart17.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart17thumb.jpg)" }
        %li
          %a.img_wrap{ :href => "images/start/teamarbeitstart18.jpg", :data => {:fancyboxgroup  => "photo"}, :title => "Bild &copy; MARKUS EISSLER PHOTOGRAPHY" }
            %div.cover{ :style => "background-image: url(images/start/teamarbeitstart18thumb.jpg)" }
      .clear


  .rightcol.floatright.gradient_trans
    %h2.h3 Statusupdates

    - posts.each do |post|
      %article.fb_feed
        .fb_feed_date.floatleft
          %time{ :datetime => post.upated_at.iso8601 }
            %span.feed_day_month= I18n.l(post.upated_at, :format => "%d.&nbsp;%b")
            %span.feed_year= I18n.l(post.upated_at, :format => "%Y")
        - if post.data["picture"]
          %a{ :href => " #{post.data["link"]}", :title => " #{ nl2delete(deletelink post.message) } "}
            %img.floatright.postpicture{ :src => post.picture, :alt => " #{ nl2delete(deletelink post.message) } ",  :title => " #{ nl2delete(deletelink post.message) } " }
        - if post.data["name"]
          %p= linkify_feed(post.message, post.name)
        - else
          %p= nl2br(linkify_short(post.message))
        .clear
        %hr
    %p
      %small
        Mehr auf unserer Facebook Seite: 
        %br
        %a{ :href=> "http://facebook.com/hundetrainingteamarbeit.de", :title => "Hundetraining Teamarbeit bei Facebook"}
          Hundetraining Teamarbeit bei Facebook
    .clear